$mainTextColor: #000000;
$accentColor: #ff6b08;
$footerBckg: #f7f7f7;
$headerTextColor: #ffffff;
$errorColor: #ff001b;
$btnActiveColor: #ff6b01;
$btnBckgColor: #f5f5fa;
$bgDarkTheme: #221d1d;
$movieTitleColor: #8c8c8c;
$footerColor: #545454;
$btnDisBckg: rgba(0, 0, 0, 0.56);
$btnShadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
$inputBorder: 1px solid #487996;
$bg-header-gradient: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

$fw: 500;
$fs: 20px;
$lh: 1.2;
$color: $mainTextColor;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
