<section class="movie">
  <div class="container">
    <div class="library-notification is-hidden">
      <svg class="library-notification__icon" width="320" height="320">
        <use href="/src/images/svg/sprite.svg#icon-empty-collection"></use>
      </svg>
      <p class="library-notification__text">
        Oops! It's empty here<br />Seems like there's nothing in this collection
        yet
      </p>
    </div>
    <h1 class="movie__title visually-hidden">Trending films</h1>
    <ul class="movie__list js-movies-container"></ul>
  </div>
</section>
