.paginator {
  padding-bottom: 40px;

  @include tablet {
    padding-bottom: 60px;
  }
}

.pagination {
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pagination__button {
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
}

.first-page,
.last-page {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.ellipsis {
  display: none;
  padding-right: 15px;

  &.starting {
    padding-left: 5px;
  }

  &.ending {
    padding-left: 15px;
  }

  @include tablet {
    display: block;
  }
}

.pagination__button.back {
  background-color: #f7f7f7;
  position: relative;

  &::after {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    content: '';
    position: absolute;
    background-image: url('./../images/svg/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.pagination__button.forward {
  background-color: #f7f7f7;
  position: relative;

  &::after {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    content: '';
    position: absolute;
    background-image: url('./../images/svg/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dark::after {
    background-image: url('./../images/svg/arrow-right-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.current {
  background-color: #ff6b08;
}
